body {
    background-color:lightsteelblue;
}

h1 {
    color: darkblue;

}
h2 {
    color:darkblue;
}
.esimerkki {
    color:purple;
}
.hankalaa{
    color: white;
}
.esimerkki-box{
    background-color: #DDFFDD;
    border: 1px solid;
    padding: 5px;
}

.spanni {
color: blue;
}

table {
width: 300px;
border-collapse: collapse;
}

.jsharkkatyyli {
    display: none;
}

table tr td {
    border: solid black;1px
    padding left: 5px;
    border-spacing:0px;
}

td {
    color: black;
}

tbody tr:nth-child(odd){
    background-color: grey;
}